@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

/* общие стили */
body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 150%;
}
.container {
  max-width: 1920px;
  min-height: 100vh;
  background: #282828;
  margin: 0 auto;
}
.wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 30px;
  background: #99862a;
}
h2,
h3 {
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 150%;
}
h2 {
  font-size: 36px;
}
h2 + div {
  width: 100%;
  max-width: 160px;
}

/* стили header*/
.header,
.header-menu-contact,
.header-button {
  display: flex;
}
.header,
.header-menu-contact {
  justify-content: space-between;
}
.header-nav-list li,
.header-nav-list li a {
  text-align: center;
}
.header {
  flex-direction: column;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%),
    url(image/header-bgc.png), #ededed;
  background-size: cover;
  min-height: 900px;
}
.header-menu-contact {
  padding: 30px 0 20px;
}
.header .header-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.header-nav-list li {
  border: 1px solid #ffffff;
  border-left: 0;
  padding: 13px 0;
  max-height: 46px;
}
.header-nav-list li:last-child {
  border-right: 0;
}
.header-button {
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
.header-button button {
  margin: 15px;
}
.header-button button:first-child a {
  padding: 0 6px;
}
.header-button button:last-child a {
  padding: 0 4px;
}

/* стили text*/
.text {
  padding: 100px 0;
}
.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #c4c4c4;
  padding: 60px 0;
  text-align: center;
}
.text-box h2 + div {
  border-top: 1px solid #ffffff;
  margin: 40px 0;
}
.text-content {
  max-width: 732px;
  font-size: 16px;
  padding-bottom: 50px;
}

/* стили collection */
.collection,
.collection-box,
.collection-table,
.collection-table-content,
.collection-table-year {
  display: flex;
}
.collection,
.collection-table-content {
  flex-direction: column;
}
.collection {
  background-color: #e6e3c4;
}
.collection-box {
  justify-content: space-between;
  margin: 80px 0;
  padding: 60px 0;
  color: #000000;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
}
.collection-content {
  flex: 0 1 450px;
}
.collection-subtitle {
  font-size: 16px;
}
.collection h3 {
  font-size: 18px;
}
.collection-box h2 {
  font-size: 36px;
  padding: 30px 0;
}
.collection-box h2 + div {
  border-top: 1px solid #282828;
}
.collection-box p {
  padding: 30px 0;
}
.collection-table {
  border-bottom: 1px solid #282828;
}
.collection-table:last-child {
  border-bottom: 0;
}
.collection-table-year {
  border-right: 1px solid #282828;
  flex: 0 1 75px;
  justify-content: center;
  align-items: center;
}
.collection-table-content {
  gap: 5px;
  padding: 10px 0 15px 30px;
}
.collection-table:first-child .collection-table-content {
  padding-top: 5px;
}
.collection-content button a {
  padding: 0 8px;
}
.collection-img {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  grid-gap: 30px;
}
.collection-img img:first-child {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

/* стили form*/
.form-box {
  margin: 130px 0 100px;
  border: 3px solid #c4c4c4;
  min-height: 538px;
  position: relative;
}

.form-box img {
  position: absolute;
  top: 0;
  left: 0;
}
.form-box form {
  max-width: 539px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  transform: translateY(-40px);
}
.form h2 {
  /* transform: translateY(100px); */

  padding: 10px 50px;
  margin-bottom: 30px;
  z-index: 10;
  background: #282828;
}
.form h2 + div {
  border-top: 1px solid #ffffff;
  max-width: 118px;
}
.form .form-text {
  padding: 40px 0 70px;
  text-align: center;
}
.form .personal-info {
  display: grid;
  grid-template: 1fr / repeat(2, auto);
  grid-gap: 30px;
  width: 100%;
}
.form input {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
  background: #282828;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
  margin-bottom: 30px;
}
.form button {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #282828;
  margin: 10px 0;
  border: 1px solid #ffffff;
}

/* стили footer*/
.footer {
  background-color: #99862a;
}
.footer-box {
  padding: 50px 0;
  margin: 0 20px;
}
.footer-nav-list,
.footer-contacts div,
.footer-contacts-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav-list {
  min-height: 60px;
  gap: 60px;
  border-top: 1px solid #ffffff;
}
.footer-contacts {
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
}
.footer-contacts div {
  border: 1px solid #ffffff;
  border-left: 0;
  padding: 15px 0;
}
.footer-contacts div:last-child {
  border-right: 0;
}
.footer-contacts-items {
  min-width: 146px;
  justify-content: space-between;
}
